.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff !important;
    border: none !important;
    opacity: 1;
}


.card-header .fa {
    transition: .3s transform ease-in-out;
  }
  .card-header .collapsed .fa {
    transform: rotate(90deg);
  }


  .nounderline {
    text-decoration: none !important
  }


  /* test */

nav > .nav.nav-tabs{

    border: none;
      color:#fff;
      background:#222222;
      border-radius:0;
  
  }
  nav > div a.nav-item.nav-link,
  nav > div a.nav-item.nav-link.active
  {
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:#222222;
      border-radius:0;
  }
  
  nav > div a.nav-item.nav-link.active:after
   {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #661421 ;
  }
  .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      border: 1px solid #ddd;
      border-top:5px solid #661421;
      border-bottom:5px solid #661421;
      padding:30px 25px;
  }
  
  nav > div a.nav-item.nav-link:hover,
  nav > div a.nav-item.nav-link:focus
  {
    border: none;
      background: #661421;
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
  }

  /* end test */

/* badge */
.badge--Gesperrt {
  background-color: #FF4242 !important;
  color: #ddd;
  padding: 5px 10px;
}

.badge--Interessent {
  background-color: #E3D26F !important;
  padding: 5px 10px;
  color: #222222;
}

.badge--Inaktiv {
  background-color: #383D3B!important;
  color: #ddd;
  padding: 5px 10px;
}

.badge--Aktiv {
  background-color: #7DD181 !important;
  padding: 5px 10px;
  color: #222222;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
  color: #222222 !important;
}
.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border: 1px solid #ced4da !important;
}